@font-face {
    font-family: Bitter;
    src: url("/fonts/bitter.ttf");
}

@font-face {
    font-family: Jost;
    src: url("/fonts/jost.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');