{% import "layout/macros/nav.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>- {{config.title}} -</title>
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/layout/base.css">
  <script defer src="/elasticlunr.min.js"></script>
  <script defer src="/search_index.{{config.default_language}}.js"></script>
  <script defer src="/alpine.min.js"></script>
  <script defer src="/turbolink.js" integrity="sha512-P3/SDm/poyPMRBbZ4chns8St8nky2t8aeG09fRjunEaKMNEDKjK3BuAstmLKqM7f6L1j0JBYcIRL4h2G6K6Lew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% block header %} {% endblock %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.min.css" integrity="sha384-Juol1FqnotbkyZUT5Z7gUPjQ9gzlwCENvUZTpQBAPxtusdwFLRy382PSDx5UUJ4/" crossorigin="anonymous">

  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.min.js" integrity="sha384-97gW6UIJxnlKemYavrqDHSX3SiygeOwIZhwyOKRfSaf0JWKRVj9hLASHgFTzT+0O" crossorigin="anonymous"></script>

  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
      onload="renderMathInElement(document.body);"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script>
    document.addEventListener("turbolinks:load", function() {
      console.log("Load maths")
      renderMathInElement(document.body, {
        // customised options
        // • auto-render specific keys, e.g.:
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
        ],
        // • rendering keys, e.g.:
        throwOnError : false
      });
  });
  </script>


</head>

<body>

{{ macros::nav() }}

<main class="section">
  <div class="container">
    {% block content %} {% endblock %}
  </div>
</main>

</body>

</html>